@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

*{
  font-family: "Josefin Sans", sans-serif !important;
}
.main-container{
    position: absolute;
    left: 15%;
    /* background-color: rgb(190, 189, 189); */
    height: auto;
    width: 85%;
    margin: auto;
    padding: 10px;
}

.inner-container{
    /* background-color: white; */
    height: auto;
    box-shadow: inset 0 0 15px rgba(33,33,33,.2); 
    border-radius: 0.5em;
    /* background-color: rgb(240, 247, 250); */
    padding: 20px;
    margin-top: 7px;
}

@media screen and (max-width: 1250px){
    .main-container{
        left: 16%;
        width: 84%;
    }
  }
@media screen and (max-width: 1190px){
    .main-container{
        left: 18%;
        width: 82%;
    }
  }
@media screen and (max-width: 1034px){
    .main-container{
        left: 20%;
        width: 80%;
    }
  }
@media screen and (max-width: 914px){
    .main-container{
        left: 24%;
        width: 76%;
    }
  }
@media screen and (max-width: 714px){
    .main-container{
        left: 28%;
        width: 72%;
    }
  }
@media screen and (max-width: 589px){
    .main-container{
        left: 32%;
        width: 68%;
    }
  }
@media screen and (max-width: 514px){
    .main-container{
        left: 36%;
        width: 64%;
    }
  }
@media screen and (max-width: 404px){
    .main-container{
        left: 40%;
        width: 60%;
    }
  }